Package: jp.r-plus.apptweeter
Name: AppTweeter
Depends: mobilesubstrate, preferenceloader, firmware (>= 5.0)
Conflicts: gsc.ipad
Priority: optional
Version: 0.3
Architecture: iphoneos-arm
Description: Tweet about app infomation from AppStore
Author: r_plus <anasthasia.r+apptweeter@gmail.com>
Section: Tweaks
dev: rplus
Icon: file:///Library/PreferenceLoader/Preferences/AppTweeter@2x.png
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=apptweeterDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=apptweeterDp
Sponsor: thebigboss.org <http://thebigboss.org>
Maintainer: BigBoss <bigboss@thebigboss.org>
Tag: purpose::extension
